@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, 'Geneva', Tahoma, sans-serif;
    --fonte2: 'Passion One', 'cursive';
    --fonte3: 'Sriracha', 'cursive';
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    min-height: 100vh;
}

header {
    background-color: black;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    display: block;
}

header > h1 {
    color: white;
    font-family: var(--fonte2);
    font-variant: small-caps;
    font-size: 10vw;
    padding-top: 35px;
}

header > p {
    color: white;
    margin-bottom: 35px;
    font-family: var(--fonte1);
}

header a {
    color: white;
    text-decoration: none;
    font-family: var(--fonte1);
    font-weight: bold;
    padding-left: 0px;
}

header a:hover {
    text-decoration: underline;
}

main {
    font-family: var(--fonte3);
    font-size: 2em;
    margin: 0px;
    padding: 0px;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    margin: 0px;
    margin-bottom: 20px;
    max-width: 100%;
    display: block;
}

main article#q1 {
    padding-left: 30px;
    line-height: 2em;
    font-family: var(--fonte3);
    font-size: 3.5vw;
    display: block;
    padding-bottom: 10vh;
    max-width: 100%;
}

main br {
    margin: 0px;
    padding: 0px;
    display: block;
}

main section#q2 {
    background-image: url('imagens/background001.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: right center;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    max-width: 100%;
    display: block;
}

main section#q2 article {
    color: white;
    background-color: rgba(0, 0, 0, 0.377);
    font-size: 3.5vw;
    line-height: 2em;
    display: block;
    width: 43%;
    padding: 0px;

}
main section#q4 {
    background-image: url('imagens/background002.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: left center;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    max-width: 100%;
    display: block;
}

main section#q4 article {
    color: white;
    background-color: rgba(0, 0, 0, 0.596);
    font-size: 3.5vw;
    line-height: 2em;
    display: block;
    width: 43%;
    padding: 5px;
}

footer {
    background-color: black;
    color: white;
    padding: 12px;
    text-align: center;
    font-size: 2vw;
    display: block;
    max-width: 100%;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}