@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    
}

body {
    background-image: linear-gradient(to right, #FEF1D1, #F0A36F);
    
}

main {
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #8f63499f;
}

h1{
    color: #4F2C62;
    text-align: center;
    text-shadow: 1px 1px 2px #5f2b7abd;
}

h2{
    color: #F0A36F;
}

p {
    text-align: justify;
}